In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('car_info.csv')
df.head()

   CarID       Make     Model  Year   Color    Price
0      1     Toyota     Camry  2020    Blue  25000.0
1      2      Honda     Civic  2019     Red  22000.0
2      3       Ford   Mustang  2022   Black  40000.0
3      4  Chevrolet  Corvette  2021  Yellow  60000.0
4      5      Tesla   Model S  2023   White  80000.0